@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.App {
  background:#ececec;
}



a {
  text-decoration: none;
}


.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ececec;
}

.navbar-links {
  display: flex;
  gap: 16px;
}

.navbar-links a {
  color: #666;
  font-size: 20px;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #cf2e2e;
}

.logo {
  width: 180px;
  height: 100%;
}

.logo-copyright {
  text-align: center;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-container {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.photo-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.photo-controls button {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.overlay h2 {
  color: #cf2e2e;
  font-size: 48px;
  
}

.overlay span {
  font-size: 25px;
  font-weight: 500;
  max-width: 60%;
}


.pb-section {
  display: flex;
  align-items: center;
}

.pb-section-image {
  width: 800px;
  height: 100%;
}

.pb-section-image img {
  width: 100%;
  object-fit: cover;

}

.pb-section-text {
text-align: center;

}

.pb-section-text h2 {
  color: #cf2e2e;
  font-size: 42px;
}

.pb-section-text span {
  font-size: 18px;
  font-weight: 500;
}

.c-section {
  background: #cccccc;
}

.c-section-h {
  text-align: center;
  font-size: 35px;
}

.card-container {
  
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.card {
  width: 320px;
  height: 400px;
  background: #cf2e2e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 0 12px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  display: flex;
  align-items: center;
  color: white;
}

.card i {
  color: white;
  font-size: 40px;
}

.card a {
  font-size: 20px;
  text-decoration: underline;
  color: #ececec;
}

.e-p-photo-container {
  height: 600px;
  position: relative;
}

.e-p-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}


.e-p-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  
}

.e-p-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 45px;
  gap: 16px;
}

.e-p-text h3 {
  text-align: center;
  font-size: 45px;
}

.e-p-icons {
  display: flex;
  gap: 12px;
}

.a-i-container {
  position: relative;
  height: 300px;
}


.a-i-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us-header {
  text-align: center;
  font-size: 45px;
}

.about-us-pitch {
  background: #ececec;
  text-align: center;
  padding: 18px;
}

.about-us-pitch .year {
  color: #cf2e2e;
  font-size: 20px;
  font-weight: 500;
}

.aup-header {
  font-size: 42px;
}

.aup-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 32px;
  font-weight: 500;
}

.aup-text p {
  font-size: 20px;
}

.aup-text span {
  color: #cf2e2e;
  font-size: 18px;
  font-weight: 600;
}

.team-container {
  background-color: #cccccc;
  flex-wrap: wrap;
}

.team-card {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 auto;
  padding: 15px;
  width: 75%;
  border-bottom: 1px solid #cf2e2e;
}

.team-card img {
  width: 350px;
  object-fit: cover;
}

.about-pitch {
  background: black;
  text-align: center;
  padding: 25px 0;
}

.about-pitch span {
  color: white;
  font-size: 35px;
}

.program-head h3 {
  color: #cf2e2e;
  font-size: 40px;
  text-align: center;
}


.program-container {
  background-color: #ececec;
  margin: 5px;
  padding: 0 16px;
}

.program-head p {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-bottom: 11px;
}

.program0-img {
  display: flex;
  justify-content: space-around;
  margin-bottom: 11px;
  flex-wrap: wrap;
}

.program0 img {
  width: 500px;
}

.program0txt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  
}

.program0txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: justify;
  padding: 10px;
}





.footer {
  background-color:#cf2e2e;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.social-links a {
  margin: 0 6px;
  color: black;
  font-size: 20px;

}

.social-links i:hover {
  color: #cccccc;
}

.footer span {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  text-align: center;
}
.address h3 {
  color: white;
  font-size: 20px;
}

.logo-copyright span {
  text-align: center;
}
.address p {
  color: white;
}


@media screen and (max-width: 768px) {

  .navbar {
    padding: 0 12px;
  }

  .navbar-links a {
    font-size: 14px;
  }

  .pb-section {
    flex-wrap: wrap;
    margin: 6px 12px;
  }

  .e-p-overlay h3 {
    font-size: 30px;
  }

  .e-p-icons  {
    flex-direction: column;
  }

  .overlay {
    padding: 0;
  }

  .team-card {
    flex-wrap: wrap;
  }

  .team-card img {
    width: 100%;
  }

  .about-pitch span {
    font-size: 18px;
    margin: 0 12px;
  }

  .program0 img {
    width: 100%;
    margin: auto;
  }

 .program00 {
  
  flex-wrap: wrap;
 }

 .program0txt {
  display: flex;
  flex-wrap: wrap;
 }

 
}